<h1>プロフィール</h1>
<h2>名前</h2>
<p><%= @user.name %></p>
<h2>年齢</h2>
<p><%= @user.age %></p>
<h2>メールアドレス</h2>
<p><%= @user.email %></p>
<% if @user.image.attached? %>
	<h2>アバター</h2>
	<%= image_tag @user.image %>
<% end %>
