<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Number of pages:</strong>
    <%= book.number_of_pages %>
  </p>

  <% if book.image.attached? %>
  <p>
      <strong>Image:</strong>
      <%= image_tag book.image %>
  </p>
  <% end %>

</div>
